/*
 *
 *
 *
 */

// variables
// theme colors
$color-primary: #c0362c;
$color-secondary: #da8a67;
$color-accent: #5a4fcf;
$color-dark: #232527;
$color-light: #f8f8ff;
$color-on-dark: #f8f8ff;
$color-on-light: #333;

// maximum width of content container
$container-max-width: 920px;

// responsive breakpoints
$breakpoint-desktop: 960px;
$breakpoint-tablet: 600px;
$breakpoint-mobile: 400px;

// fonts
$font-heading: "Lora", serif;
$font-body: "Quicksand", sans-serif;

* {
    // consistency of sizing.
    box-sizing: border-box;
}

body {
    // font for most content..
    font-family: $font-body;
    // normal text color
    color: $color-on-light;

    // flexbox layout, columns for the sections we will have: header, main, footer
    display: flex;
    flex-flow: column nowrap;
    // minimum height of body to keep the footer on the bottom of the display.
    min-height: 100vh;

    margin: 0;
    // subtle pattern background.
    background: url("./img/bg.jpg") repeat fixed;
}

// headings font and style.
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: normal;
}

// larger headings are coloured.
h1, h2, h3 {
    color: $color-primary;
}

// change link style and hover color.
a {
    color: $color-primary;
    &:hover {
        color: $color-secondary;
    }
}

header, main, footer {
    // full width each main element.
    width: 100%;
}

header, footer {
    // flex for layout inside these containers.
    display: flex;
    align-items: baseline;

    background-color: $color-dark;
    color: $color-on-dark;
}

header {
    flex-flow: row wrap;
    justify-content: space-between;

    height: 100%;
    padding: 0 1em;

    // hamburger mobile button.
    #mobile-menu-button {
        text-decoration: none;
        font-size: 2em;
        padding: 1em;
    }

    nav.navbar-toggle {
        // display the navbar with this class.
        display: flex;
    }

    nav {
        // hide on mobile. we'll use `display: flex` to show.
        display: none;

        flex-flow: column nowrap;

        // full width.
        width: 100%;

        // navigation links.
        a {
            text-align: right;
            font-size: 1.2em;
            padding: 0.5em 1em;

            // link of the current page are highlighted.
            &.active {
                color: $color-accent;
            }
        }
    }
}

footer {
    // flex footer, stacked column in mobile and a row on larger screens.
    flex-flow: column nowrap;
    justify-content: space-between;

    // place at the bottom of the page in the parent flex container.
    align-self: flex-end;

    padding: 1em
}

main {
    // main content flex to fill available space.
    flex: auto;

    // container layout, maximum width in center of the view.
    max-width: $container-max-width;
    margin: auto;

    // contrasting colours with header and footer.
    background-color: $color-light;

    padding: 1em 2em;

    // subtle box-shadow to focus content.
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

#site-title:hover {
    // just for fun.
    animation: hue-cycle .67s linear infinite;
}

// basically random image on the frontpage.
#front-image {
    float: right;

    // some spacing and rounded corners.
    margin: 1em;
    border-radius: 8px;

    // responsive sizing.
    height: auto;
    width: auto;
    max-width: 33vw;
}

// page specific
// portfolio
#portfolio-flex {
    // flex container for skills and projects columns.
    display: flex;
    flex-flow: row wrap;

    // mobile first design these are 100% to wrap into columns.
    #portfolio-projects {
        width: 100%;
    }
    #portfolio-skills {
        width: 100%;

        #skill-icon-grid {
            // place the icons in a grid, 3x? in this case 3x3
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            .skill-icon {
                text-align: center;
                font-size: 5em;

                // grayscale the icons to begin. ease-in the colour. stay at the end of the animation.
                filter: grayscale(1);
                animation: grayscale-breathe 1s ease-in forwards;
                // slight delay so the user has time to notice the fade.
                animation-delay: .6s;
            }

            // just for fun
            #skill-css:hover {
                animation: grayscale-breathe 3s ease-in forwards, spin .4s linear infinite, hue-cycle 1s linear infinite;
            }
        }
    }
}

.blog-image {
    // spacing from other elements and text.
    margin: 1em;

    // responsive sizing.
    height: auto;
    width: auto;
    max-width: 33vw;
}

// media queries
// tablet only.
@media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {

}

// tablet and desktop only.
@media only screen and (min-width: $breakpoint-tablet) {
    header {
        // better spacing on larger screens.
        justify-content: space-around;

        // display the nav in a row bar.
        nav {
            display: flex;
            flex-flow: row nowrap;

            width: auto;
        }

        // hide the hamburger button on large screens.
        #mobile-menu-button {
            display: none;
            border: 5px solid #0f0;
        }
    }
}

// desktop only.
@media only screen and (min-width: $breakpoint-desktop) {
    // portfolio skills and projects are now two columns.
    #portfolio-flex  {
        #portfolio-skills, #portfolio-projects {
            width: 50%;
        }
    }

    // footer elements are now two columns.
    footer {
        justify-content: center;
        flex-flow: row nowrap;

        section {
            padding: 0 2em;
            &:first-child {
                // dividing line between the two sections.
                border-right: 2px solid $color-on-dark;
            }
        }
    }
}

// animations.
// shift colour hue through 360degrees.
@keyframes hue-cycle {
    from { filter: hue-rotate(0deg); }
    to   { filter: hue-rotate(360deg); }
}

// colour fade in from grayscale.
@keyframes grayscale-breathe {
    from { filter: grayscale(1); }
    to   { filter: grayscale(0); }
}

// rotate through 360degrees.
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
