/*
 * T1A2 - Portfolio | Due Sun Mar 14, 2021 23:55 AEDT
 * Author: Anthony Beck
 */
* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #333;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  margin: 0;
  background: url("./img/bg.jpg") repeat fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Averia Libre", serif;
  font-weight: normal;
}

h1, h2, h3 {
  color: #cc2d00;
}

a {
  color: #992200;
}
a:hover {
  color: #f4af8a;
}

header, main, footer {
  width: 100%;
}

header, footer {
  display: flex;
  align-items: baseline;
  background-color: #232527;
  color: #f8f8ff;
}

header {
  flex-flow: row wrap;
  justify-content: space-between;
  height: 100%;
  padding: 0 1em;
}
header #mobile-menu-button {
  text-decoration: none;
  font-size: 2em;
  padding: 1em;
}
header nav.navbar-toggle {
  display: flex;
}
header nav {
  display: none;
  flex-flow: column nowrap;
  width: 100%;
}
header nav a {
  text-align: right;
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: #ff6033;
}
header nav a.active {
  color: #9f97f9;
}

footer {
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: flex-end;
  padding: 1em;
}
footer a {
  color: #ff6033;
}
footer a.active {
  color: #9f97f9;
}

main {
  flex: auto;
  max-width: 920px;
  margin: auto;
  background-color: #f8f8ff;
  padding: 1em 2em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

#site-title a {
  color: #f8f8ff;
  text-decoration: none;
}
#site-title a:hover {
  color: #f4af8a;
  animation: hue-cycle 1s infinite;
}

#front-image {
  display: none;
  float: right;
  margin: 1em;
  border-radius: 8px;
  height: auto;
  width: auto;
  max-width: 33vw;
}
#front-image:hover {
  animation: hue-cycle 5s ease-in-out infinite;
  cursor: crosshair;
}

#portfolio-flex {
  display: flex;
  flex-flow: row wrap;
}
#portfolio-flex #portfolio-projects {
  width: 100%;
}
#portfolio-flex #portfolio-skills {
  width: 100%;
}
#portfolio-flex #portfolio-skills #skill-icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
#portfolio-flex #portfolio-skills #skill-icon-grid .skill-icon {
  text-align: center;
  font-size: 5em;
  filter: grayscale(1);
  animation: grayscale-breathe 1s ease-in forwards;
  animation-delay: 0.6s;
}
#portfolio-flex #portfolio-skills #skill-icon-grid #skill-css:hover {
  animation: grayscale-breathe 3s ease-in forwards, spin 0.4s linear infinite, hue-cycle 1s linear infinite;
}

.image-right {
  float: right;
}

.image-left {
  float: left;
}

.figure-right {
  float: right;
  margin: 1em;
}
.figure-right img {
  border-radius: 8px;
  height: auto;
  width: auto;
  max-width: 33vw;
}

.blog-image {
  margin: 1em;
  height: auto;
  width: auto;
  max-width: 33vw;
}

@media only screen and (min-width: 600px) {
  header {
    justify-content: space-around;
  }
  header nav {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
  }
  header #mobile-menu-button {
    display: none;
  }

  #front-image {
    display: block;
  }
}
@media only screen and (min-width: 960px) {
  #portfolio-flex #portfolio-skills, #portfolio-flex #portfolio-projects {
    width: 50%;
  }

  footer {
    justify-content: center;
    flex-flow: row nowrap;
  }
  footer section {
    padding: 0 2em;
  }
  footer section:first-child {
    border-right: 2px solid #f8f8ff;
  }
}
@keyframes hue-cycle {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes grayscale-breathe {
  from {
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
