/*
 * CoderAcademy - T1A2 Portfolio
 * Author: Anthony Beck
 */

// SASS variables
$color-primary: #c0362c;
$color-link: $color-primary;
$color-secondary: #faa;
$color-accent: #5a4fcf;
$color-dark: #232527;
$color-light: #f8f8ff;
$color-font-dark: #333;
$color-font-light: #f8f8ff;

$container-max-width: 900px;

// Sizing for layout consistency
* { 
    box-sizing: border-box;
}

// Base layout and typography
body {
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-flow: column nowrap;
    // justify-content: space-between;

    min-height: 100vh;
    margin: 0;

    color: $color-font-dark;
    background: url('./img/bg.jpg') repeat fixed;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: normal;

    color: $color-primary;
}

h4, h5, h6 {
    font-weight: normal;
}

a {
    color: $color-link;
    &:hover {
        color: $color-secondary;
    }
}

// sections
header, main, footer {
    width: 100%;
}

main {
    flex: auto;
}

main > article {
    max-width: $container-max-width;
    margin: 0 auto;

    background-color: $color-light;

    padding: 1em 2em;
    box-shadow: 3px 3px 6px rgba(99, 99, 99, 0.33);
}

article > section {
    margin: 2em 0;
}

header, footer {
    display: flex;
    align-items: baseline;

    background-color: $color-dark;
    color: $color-font-light;
}

header {
    height: 100%;
    padding: 0 1em;

    flex-flow: row wrap;
    justify-content: space-between;

    nav {
        width: 100%;

        display: none;
        flex-flow: column nowrap;

        .active {
            color: $color-accent;
        }
    }

    #mobile-menu-button {
        font-size: 2rem;
        text-decoration: none;
        padding: 1rem;
    }

    #header-navbar {
        a {
            text-align: right;
            padding: .5rem 1rem;
        }
    }
}

.navbar-visibility {
    display: flex;
}

footer {
    flex-flow: column;
    
    align-self: flex-end;
    padding: 1em;
}

// Media queries
// Mobile Only
@media only screen and (max-width: 450px) {
    // The base style covers this, mobile first design.
}

// Tablet and Desktop
@media only screen and (min-width: 451px) {
    header {
        justify-content: space-around;

        nav {
            display: flex;
            flex-flow: row nowrap;
            width: auto;
        }

        #mobile-menu-button {
            display: none;
        }
    }
}

// Tablet Only
@media only screen and (min-width: 451px) and (max-width: 700px) {

}

// Desktop Only
@media only screen and (min-width: 701px) {
    footer {
        justify-content: center;
        flex-flow: row nowrap;

        section {
            padding: 0 2rem;

            &:first-child {
                border-right: 2px solid $color-light;
            }
        }
    }
}
